*{

	padding:0;
	margin: 0;
	box-sizing: border-box;
	
}
body{
	
	padding:0;
	margin: 0:
}

/* header*/
.mainheader{
			max-width:100%;
			position: relative;
			background-color: yellowgreen;
			display: flex;
			justify-content: space-between;
			padding: 7px 100px; 
			
		}
		.text1{
			padding:0px 15px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.text1 p{
			padding:0px 25px;
			color: white;
			font-weight: 700;

		}
		.typographi{
			display: flex;
		}
		.typographi li{
			list-style-type: none;
			padding:3px;
            margin: 0px 5px;
			border:1px solid white;
			border-radius: 50%;
		}
		.typographi li a{
			color: white;
			font-size: 10px;
		}
		/*.typographi li:hover{
			padding:3px;
            margin: 0px 5px;
			border:1px solid black;
			border-radius: 50%;
			background-color: red;
			color: white;
			transition: 0.5;
		}*/
		.typographi li.hover{

		}
		.typographi{
           	padding-left: 90px;
           	padding-bottom: 10px;
           }
           .youtube_icon{
           	background-color: #c4302b;
           }
           .facebook_icon{
           	background-color: #3b5998;
           }
           .instagram_icon{
           	background-color: #E1306C;
           }
           .linkedin_icon{
           	background-color: #0e76a8;
           }
           .twitter_icon{
           	background-color: #00acee;
           }

      /*end header*/



.wrapper{
	width: 100%;
	height: 100vh;
	background-image: url("image/42.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: relative;
}
.center{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	height: 100%;
}
.text{
	max-width:100%;
	text-align: center;
	text-transform: capitalize;
}
.text h1{
	font-size: 100px;
	margin-top: 80px;
	color: #f1c40f;
	  /*text-shadow: 5px 5px #FF0000;*/
	font-weight: 700;
	padding-bottom: 10px;
	font-family: 'Anton', sans-serif;
	letter-spacing: 10px!important;
	animation: shakti 5s linear 2s infinite alternate;
}
  @keyframes shakti {
  0%   {text-shadow: -10px -10px red; }
  25%  {text-shadow: -10px -10px black;}
  50%  {text-shadow: -10px -10px blue; }
  75%  {text-shadow: -10px -10px green;}
  100% {text-shadow: -10px -10px red;}
}

.text p{
	 font-size: 50px;
	color: black;
	  text-shadow: 3px 3px #FF0000;
	font-weight: 700;
	margin-bottom: 20px;
	font-family: 'Anton', sans-serif;
	/*letter-spacing: 10px!important;*/
}

.form{
	width:100%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo{
	position: absolute;
	right:20px;
	bottom:25px;
	z-index: 1;

}
.logo img{
	width:100px;
	height: 100px;
	border-radius: 50%;
}

.btn1{
	border-radius: 20px!important;
	margin-top: 10px;
	padding:8px 50px;
	background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
	animation: scale 5s linear infinite;
}
.btn1:hover{
	background: linear-gradient(60deg,  #3F5EFB 0%, #FC466B 100%)!important;
}

 @keyframes scale {
  0%   { transform: scale(0.5); }
  25%  { transform: scale(1);}
  50%  { transform: scale(0.5); }
  75%  { transform: scale(1);}
  100% { transform: scale(0.5);}
}


.btn2:hover{
	background-color: #3498db!important;
}

.sushil{
	transition:0.5s;
}
.sushil:hover{
	transform: translateY(-20px);
}

    svg{
			position: absolute;
			bottom: 0;
			left: 0;
		}

/* header1*/

	.menu{
			position: absolute;
			top:45px;
			left: 0;
			padding:0 100px;
			background-color: #262626;
			width:100%;
			box-sizing: border-box;
			z-index:1000;
		}
		.menu .logo1{
			color: white;
			height: 50px;
			line-height: 50px;
			font-size: 24px;
			float: left;
			font-weight: bold;
		}
		.menu nav{
			float: right;
		}
		.menu nav ul{
			margin: 0;
			padding:0;
			display: flex;
		}
		.menu nav ul li{
			list-style-type: none;
		}
		.menu nav ul li a{
			height: 50px;
			line-height: 50px;
			padding:0 20px;
			color: #fff;
			text-decoration: none;
			display: block;
		}
		.menu nav ul li a:hover,
        .menu nav ul li a.active
		{
			color: #fff;
			background-color: yellowgreen;
			border-radius: 10px;
		}
		.menu-toggle{
			color: white;
			float: right;
			line-height: 50px;
			font-size: 24px;
			cursor: pointer;
			display: none;
		}

		@media(max-width: 991px){
			.menu{
				padding:0 20px;
			}

			.menu-toggle{
				display: block;
			}
			.menu nav{
				
				position: absolute;
				width: 100%;
				height: calc(100vh - 50px);
				background-color: #333;
				top:50px;
				left:-100%;
				transition: 0.5s;
			}
			.menu nav.active{
                   left:0;
			}
			.menu nav ul{
				display: block;
				text-align: center;
			}
			.menu nav ul li a{

				border-bottom: 1px solid rgba(0,0,0,0.2);
			}

		}
/*end header1*/

@media(max-width: 775px){
	
     .text{
     	max-width:100%;
     }

	.text h1{

		font-size: 50px;
	}
	.text p{
		font-size: 30px;
		padding-bottom: 20px;
	}
	
	.logo img{
	position: relative;
	z-index: 1;
	width:70px;
	height: 70px;
	border-radius: 50%;
}
}


@media (max-width: 445px){

.text h1{

		font-size: 45px;
		letter-spacing: 2px!important;
	}
	.text p{
		font-size: 25px;
	}
	
	.logo img{
	width:50px;
	height: 50px;
	border-radius: 50%;
	
	
     }

 svg{
	 position: absolute;
	 bottom: 30;
	 left: 45;
		}
}

@media(max-width: 480px){
	.mainheader{

			padding: 7px 0px; 
			flex-direction: column;
			text-align: center;
			width:100%;
		}
		.text1 p{
			padding:0 0px;
			font-size: 0px;
		}

		.text h1{
			font-size: 30px;
			animation: shakti 5s linear 2s infinite alternate;
		}
		 @keyframes shakti {
             0%   {text-shadow: -5px -5px red; }
             25%  {text-shadow: -5px -5px black;}
            50%  {text-shadow: -5px -5px blue; }
            75%  {text-shadow: -5px -5px green;}
            100% {text-shadow: -5px -5px red;}
           }

           .typographi{
           	padding-left: 90px;
           	padding-bottom: 10px;
           }
           .youtube_icon{
           	background-color: #c4302b;
           }
           .facebook_icon{
           	background-color: #3b5998;
           }
           .instagram_icon{
           	background-color: #E1306C;
           }
           .linkedin_icon{
           	background-color: #0e76a8;
           }
           .twitter_icon{
           	background-color: #00acee;
           }
           .menu{
           	top:58px;
           }
}
